* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

body{

}

.panel {
    position: fixed;
    top: 2em;
    left: -15.625em; /*left or right and the width of your navigation panel*/
    width: 15.625em; /*should match the above value*/
    z-index: 100;
        background-color: rgba(255, 255, 255, 0.6);
}

.wrap {
    position: relative;
}

a {
  text-decoration: none;
  color: #2f2f86;
}

#site-id {
    z-index: 100;
    position: absolute;
    right: 2px;
    top: 2px;
    font-size: 14pt;

}

#positionController {
    position: absolute;
    left: 2px;
    top: 0px;
    z-index: 300;
}

button:focus {
    outline: none;
}

.overlay-box {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 2px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    outline: 0;
    padding: 0px;
    text-align: center;
    z-index: 200;
}

.KanjiCard {
  width: 440px;
  min-height: 400px;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
  0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
  0 16px 16px rgba(0, 0, 0, 0.1);
  padding: 0px;
  outline: none;
  background-image: url("../img/back-01.jpg");
}

.KanjiCard-rotate {
  transform: rotateY(89.5deg);
}

.KanjiCard_kanji {
  position: relative;
  height: 300px;
  top: -20px;
  font-size: 190pt;
  padding: 0px;
  opacity: 0.8;
  border-radius: 10px;
}

#card {
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.KanjiCard_kanji p {
  padding: 0px;
}

.KanjiCard_kana {
  position: relative;
  top: 18px;
  font-size: 12pt;
  padding-left: 10px;
  padding-right: 10px;
  opacity: 0.8;
}
.KanjiCard_translation {
  position: relative;
  top: 12px;
  font-size: 14pt;
  font-style: italic;
  padding: 0px;
  opacity: 0.8;
}
.KanjiCard_words {
  position: relative;
  top: -0px;
  font-size: 14pt;
  padding: 20px;  
  opacity: 0.9;
}
